<div class="left">
<%= link_to image_tag("Alogo.png", :alt => "Road to success"), posts_path   %>
<h1>Anthony Panepinto</h1>

<p>I am a 22 year old entrepreneur born and raised in Toronto, Canada. I'm currently working as a private equity (PE) analyst, but have since turned to web development to nurture my creative side. I have some exp in Rails, and front-end dev. So, with both a business and now engineering background, I am hear to document and share my Startup journey.
<br><br>
You should follow me on <%=link_to "Twitter", "www.twitter.com/maineONEder"%> or contact me by <%= link_to "email.", "mailto:anthony.panepinto101@gmail.com"%></p>
	
<p>©2002-2013 Anthony Panepinto</p>
<p>Designed and developed by me!</p>
</div>
