/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body
{
font-family: "Helvetica", sans-serif;
font-size: 10px;
text-indent: 5px;
padding: 2px 5px 2px 5px;
font-weight: bold;
background: #FFFFFF;
    color: #333333;
    font: 15px/20px Calibri,"Myriad Pro","Lucida Grande","Lucida Sans",Verdana,sans-serif;

}



#new_blog_comment {
    font-size: 1em;
    margin: 0 0 1em;
    padding: 2.5%;
  width: 770px;
float: right;
    color: #555555;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
border-top: solid black 0;
}


#blog_share_bar {

	    clear: both;
	    margin: 0 auto;
	    padding: 1em 0 1.5em;
	    text-align: center;
	    width: 15em;
}

.social_button {
    float: left;
    width: 5em;
}


#comment_nickname {
	display: none;
}


body a {
	color: black;
	text-decoration: none;
}

.blog {
}

.left { width: 250px;
	float: left;
	padding-top: 80px;
	padding-left: 50px;
	background: url("backgroundabstract.png");;
	padding-right: 50px;
	position:fixed;
	
}


.right { width: 570px;
	float: right;
	padding-right:300px;
	border-bottom: black dotted 1px;
}

.right1 { width: 570px;
	float: right;
	padding-right:200px;
}

